<!DOCTYPE html>
<html>
<head>
    <title>Detalle Camping</title>
</head>
<body>

<h1><%= camping.nombre %></h1>

<img src="<%= camping.imagen %>" width="400">

<p><strong>Ubicación:</strong> <%= camping.ubicacion %></p>
<p><strong>Descripción:</strong> <%= camping.descripcion %></p>

/← Volver</a>

</body>
</html>
